<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../assets/Farmacia_SAAS_logo.svg" alt="Saas_SVG">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/inventory" routerLinkActive="active" ariaCurrentWhenActive="page">Inventory</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/medicine" routerLinkActive="active" ariaCurrentWhenActive="page">Medicine</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/add-medicine" routerLinkActive="active" ariaCurrentWhenActive="page">Add
                        Medicine</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/add-inventory" routerLinkActive="active" ariaCurrentWhenActive="page">Add
                        Inventory</a>
                </li>
            </ul>
        </div>
    </div>
</nav>