<div class="container">
    <h1>Add Medicine</h1>
    <form #medicineForm="ngForm" (ngSubmit)="submit(medicineForm)">
        <div class="form-group">
            <label for="name">Medicine Name</label>
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="medicine.name"
                #medicineName="ngModel">
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" class="form-control" [(ngModel)]="medicine.amount"
                #medicineAmount="ngModel">
        </div>
        <div class="form-group">
            <label for="type">Medicine Type</label>
            <select name="type" id="type" [(ngModel)]="medicine.type" #medicineType="ngModel">
                <option *ngFor="let option of options" [value]="option">{{option}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="expDate">Expiration Date</label>
            <input type="date" name="expDate" id="expDate" class="form-control" [(ngModel)]="medicine.expDate"
                #medicineexpDate="ngModel">
        </div>
        <div class="form-group">
            <label for="seller">Seller</label>
            <input type="text" name="seller" id="seller" class="form-control" [(ngModel)]="medicine.seller"
                #medicineSeller="ngModel">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>